{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
<h1>Lorem !</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate debitis ea eligendi laborum neque numquam, obcaecati, qui quisquam rem tenetur veniam! Accusamus eligendi esse officiis omnis quae quaerat sunt.</p>

{% endblock %}