{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisations{% endblock %}

{% block body %}
    <h1>Conditions d'utilisation</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam architecto asperiores debitis laboriosam libero maxime quae qui quo voluptatum? Distinctio esse, expedita hic iusto maxime obcaecati praesentium tenetur unde.</p>


    <script src="{{ asset('js/legalstuff.js') }}"></script>
{% endblock %}
