{% extends 'base.html.twig' %}

{% block title %}Hello LayoutController!{% endblock %}

{% block body %}
    <h1>CECI EST LA PAGE DU LAYOUT OMG</h1>
    <a href="{{ path('app_home') }}">COUCOU CECI EST UN LIEN</a>

{% endblock %}
